* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: ivory;
}

h1 {
  width: 500px;
  margin-left: 500px;
  font-size: $portfolio-h1;
  font-family: $headline-font;
}

.posterrow {
  margin-left: 250px;
}
.apple {
  margin: 50px;
  display: inline-block;
  box-shadow: 10px 10px 5px #888888;
}
.apple img {
  width: 150px;
  height: auto;
}
