// == COLOR ==
$background-color: #020304;
$link-color: #f27731;

// == FONTS ==
$text-font: "Signika", Arial, sans-serif;
$headline-font: "Roboto Condensed", Georgia, serif;
$h1-font-size: 40pt;
$resume-font-primary: "Open Sans", sans-serif;

// == Side menu ==
$side-height: 650px;
$side-width: 200px;

// == Colors ===
$resume-primary: #41140b;
$resume-secondary: #fe6533;
