// == COLOR ==
$background-color: #020304;
$link-color: #f27731;

// == FONTS ==
$text-font: "Signika", Arial, sans-serif;
$headline-font: "Vidaloka", Georgia, serif;

// == SIZES ==
$side-height: 600px;
$side-width: 150px;

// == Menu Image ===
$menu-height: 150px;
$menu-width: 150px;
