// == COLOR ==
$background-color: #020304;
$link-color: #f27731;

// == FONTS ==
$text-font: "Signika", Arial, sans-serif;
$headline-font: "Vidaloka", Georgia, serif;

// == SIZES ==
$header-height: 60px;
$header-width: 800px;
