.menu {
  width: 200px;
  height: 650px;
  display: inline-block;
  position: fixed;
  padding: 15px;
  z-index: 7; }

.menu img {
  display: block; }

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: lavender; }

.center {
  width: 600px;
  margin: auto; }
