* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.menu {
  width: 200px;
  height: 650px;
  position: fixed;
  padding: 15px;
  z-index: 7; }

.menu img {
  display: block; }
