.menu {
  width: 200px;
  height: 650px;
  position: fixed;
  padding: 15px;
  z-index: 7; }

.menu img {
  display: block; }

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: white; }

.soda {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.soda img {
  width: 550px;
  height: auto;
  margin-left: 200px; }

.oranges {
  margin-left: 200px; }

.oranges img {
  height: 170px;
  width: 170px;
  display: block; }

.crate img {
  width: 250px;
  height: auto; }
